<li class="page-scroll">
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{lang}}
        <i class="fa fa-language fa-lg"></i><span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="{{path_for('chooseLanguage')}}?lang=tr">Tr</a></li>
            <li><a href="{{path_for('chooseLanguage')}}?lang=fr">Fr</a></li>
            <li><a href="{{path_for('chooseLanguage')}}?lang=en">En</a></li>
        </ul>
    </div>
</li>